<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="inspection_cell_ros2_control" params="sim_mode:=true">
    <ros2_control name="InspectionCellSystem" type="system">
      <hardware>
        <xacro:if value="${sim_mode}">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim_mode}">
          <plugin>dsr_hardware2/DRHWInterface</plugin>
          <param name="host">192.168.1.100</param>
          <param name="port">12345</param>
          <param name="mode">real</param>
          <param name="model">h2515</param>
          <param name="update_rate">100</param>
        </xacro:unless>
      </hardware>

      <!-- 1. KIZAK EKLEMİ -->
      <joint name="slider_to_cart">
        <command_interface name="position">
          <param name="min">-15.0</param>
          <param name="max">15.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <!-- 2. DOOSAN H2515 EKLEMLERİ (Sayısal sınırlar ile) -->
      <xacro:macro name="doosan_joint_interface" params="name p_min p_max">
        <joint name="${name}">
          <command_interface name="position">
            <param name="min">${p_min}</param>
            <param name="max">${p_max}</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>
      </xacro:macro>

      <xacro:doosan_joint_interface name="joint_1" p_min="-6.28318" p_max="6.28318"/>
      <xacro:doosan_joint_interface name="joint_2" p_min="-6.28318" p_max="6.28318"/>
      <xacro:doosan_joint_interface name="joint_3" p_min="-3.14159" p_max="3.14159"/>
      <xacro:doosan_joint_interface name="joint_4" p_min="-6.28318" p_max="6.28318"/>
      <xacro:doosan_joint_interface name="joint_5" p_min="-6.28318" p_max="6.28318"/>
      <xacro:doosan_joint_interface name="joint_6" p_min="-6.28318" p_max="6.28318"/>
    </ros2_control>
  </xacro:macro>

</robot>
